<!-- <p>gallery works!</p> -->
<!-- <div class="gallery">
    <img *ngFor="let image of images" [src]="image.url" [alt]="image.alt">
</div> -->
<div class="gallery">

    <header>
        <h2>My Works</h2>
    </header>

    <main>

        <section class="gallery">

            <div class="gallery-container">

                <img *ngFor="let image of images" [src]="image.url" [alt]="image.alt">

            </div>

        </section>

    </main>

    <footer>
        <div class="gallery-header">
            <p>was known as Jobless Illustrator...</p>
        </div>
    </footer>
</div>